body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-top{
    display: flex;
    flex: 1;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

.header-links{
    margin-left: auto;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-body-left{
    display: inline-block;
    flex-direction: column;
}

.header-links,
.title-body{
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 15px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 350px;
    flex: 0;
    flex-wrap: wrap;
}