body {
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: wheat;
}

.header-left,
.header-right{
    padding-bottom: 50px;
}

.header-left{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: wheat;
    width: 400px;
    justify-content: space-between;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    border-style: solid;
    border-color: wheat;
}

.hero-body-left{
    border-style: solid;
    border-color: wheat;
}

.header-right{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: wheat;
    width: 400px;
    align-items: flex-end;
}

.header-links{
    border-style: solid;
    border-color: wheat;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.title,
.title-body{
    margin-bottom: 8px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
}

ul {
    display: flex;
    list-style-type: none;
    border-style: solid;
    border-color: wheat;
    margin-top: auto;
    gap: 18px;
}

li{
    border-style: solid;
    border-color: rgb(172, 52, 15);
    flex: 1;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width:400px;
}